<div class="container">
  <h5 class="">Новость: {{item.title}}</h5>
  <div class="">
    <p>{{item.text}}</p>
    <small class="">{{item.date|date: 'dd-MM-yyyy'}}</small>
    <div class="">
      <button type="button" class="">Ознакомлен</button>
    </div>
  </div>
</div>