.container {
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px;
    h5 {
        &[debet=true] {
            background-color: green;
        }
        &[debet=false] {
            background-color: red;
        }
    }
}