<div class="container">
  <h5 class="" [attr.debet]="item.debet">Финансовая транзакция: {{item.debet ? 'Поступление' : 'Расход'}}</h5>
  <div class="">
    <p>{{item.debet ? '+' : '-'}} {{item.value}} {{item.currency}}</p>
    <p>{{item.from}}</p>
    <p>{{item.comment}}</p>
    <small class="">{{item.date|date: 'dd-MM-yyyy'}}</small>
    <p>{{item.comment}}</p>
    <div class="">
      <button type="button" class="">Подробно</button>
    </div>
  </div>
</div>