<div class="timeline">
  <div class="post">
    <h2>Таймлайн событий</h2>
    <select [ngModel]="filterModel" (ngModelChange)="onChange($event)" name="filter">
        <option [value]="i" *ngFor="let option of filterOptions; let i = index;">{{option}}</option>
    </select>
    <post *ngFor="let item of items"
      [cls]="types[item.type]" [item]="item">
    </post>
  </div>
</div>